<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./css/bg.css">
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">极客学院</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input  placeholder="username" type="text" class="form-control" />
                        </div>
                    </form>



                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input placeholder="password" type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">登录</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li >
                            <a href="#">欢迎您</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="col-md-12">
                <div class="col-md2 zhaomu" >
                    <div class="panel-group col-md-2" id="panel-25857">
                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-1"><i class="icon-user"></i>精选</a>
                            </div>
                            <div id="panel-element-1" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--<p>-->
                                <!--<a href="#">推荐分发</a>-->
                                <!--</p>-->
                                <!--<p>-->
                                <!--<a href="#">T A流程</a>-->
                                <!--</p>-->
                                <!--<p>-->
                                <!--<a href="#">O T流程</a>-->
                                <!--</p>-->
                                <!--<p>-->
                                <!--<a href="#">MCS流程</a>-->
                                <!--</p>-->
                                <!--<p>-->
                                <!--<a href="#">MS1流程</a>-->
                                <!--</p>-->
                                <!--<p>-->
                                <!--<a href="#">MS2流程</a>-->
                                <!--</p>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-2"><i class="icon-tasks" ></i>百家</a>
                            </div>
                            <div id="panel-element-2" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-3"><i class="icon-magic"></i>本地</a>
                            </div>
                            <div id="panel-element-3" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-4"><i class="icon-heart"></i>图片</a>
                            </div>
                            <div id="panel-element-4" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-5"><i class="icon-link"></i>娱乐</a>
                            </div>
                            <div id="panel-element-5" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-6"><i class="icon-eye-open"></i>社会</a>
                            </div>
                            <div id="panel-element-6" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-7"><i class="icon-legal"></i>军事</a>
                            </div>
                            <div id="panel-element-7" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-8"><i class="icon-comment"></i>女人</a>
                            </div>
                            <div id="panel-element-8" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-9"><i class="icon-cog"></i>搞笑</a>
                            </div>
                            <div id="panel-element-9" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-10"><i class="icon-dollar"></i>互联网</a>
                            </div>
                            <div id="panel-element-10" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="panel panel-default news-btn">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-25857" href="#panel-element-11"><i class="icon-bar-chart"></i>更多</a>
                            </div>
                            <div id="panel-element-11" class="panel-collapse collapse">
                                <!--<div class="panel-body">-->
                                <!--HaHaHaHaHaHa-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10" style="text-align: center">
                    <table class="table col-md-10 table-hover news-table">
                        <thead>
                        <tr>
                            <th style="line-height: 30px">
                                百度新闻列表
                            </th>
                            <th>
                                <i class="icon-plus-sign-alt icon-2x addbtn" style="color: #5cb85c"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="news-tbody">
                        <tr>
                            <td>
                                编号
                            </td>
                            <td>
                                标题
                            </td>
                            <td>
                                内容
                            </td>
                            <td>
                                标签
                            </td>
                            <td>
                                图片链接
                            </td>
                            <td>
                                日期
                            </td>
                            <td>
                                删除数据
                            </td>
                            <td>
                                修改数据
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="bgnews">
                        <form class="form-horizontal bgform">
                            <div class="form-group">
                                <label for="inputid" class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control  inputId" id="inputid" placeholder="ID">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputtitle" class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control inputtitle" id="inputtitle" placeholder="Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputcontent" class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                    <textarea  rows="3" class="form-control inputcontent" id="inputcontent" placeholder="内容"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputlabel" class="col-sm-2 control-label">类型</label>
                                <div class="col-sm-10">
                                    <input type="text"  class="form-control inputlabel" id="inputlabel" placeholder="新闻类型">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputpic" class="col-sm-2 control-label">图片链接</label>
                                <div class="col-sm-10">
                                    <input type="text"  class="form-control inputpic" id="inputpic" placeholder="picture">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputdate" class="col-sm-2 control-label">日期</label>
                                <div class="col-sm-10">
                                    <input type="date" rows="3" class="form-control inputdate" id="inputdate" placeholder="date">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/jquery-2.1.4.min.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/bg.js"></script>
</body>
</html>