<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>百度新闻</title>
    <link rel="stylesheet" type="text/css" href="./css/baidunews.css">
    <script type="text/javascript" src="./js/jquery-2.1.4.min.js"></script>
</head>
<body>
<div class="page-wrapper">
    <div>
        <!--顶部导航-->
        <div class="head-wrapper">
            <div class="nav-header-con">
                <a class="float-left baidu-icon"></a>
                <a class="float-left people-icon"></a>
                <a class="float-right subscribe-icon"></a>
                <a class="float-right search-icon"></a>
            </div>
            <hr>
            <div class="news-tab">
                <ul class="news-tab-ul">
                    <li class="selected" style="width: 16.6667%"><b></b><a>精选</a></li>
                    <li style="width: 16.6667%"><b></b><a>百家</a></li>
                    <li style="width: 16.6667%"><b></b><a>本地</a></li>
                    <li style="width: 16.6667%"><b></b><a>图片</a></li>
                    <li style="width: 16.6667%"><b></b><a>娱乐</a></li>
                    <li style="width: 16.6667%"><b></b><a>社会</a></li>
                    <li style="width: 16.6667%"><b></b><a>军事</a></li>
                    <li style="width: 16.6667%"><b></b><a>女人</a></li>
                    <li style="width: 16.6667%"><b></b><a>搞笑</a></li>
                    <li style="width: 33.3333%"><b></b><a>互联网</a></li>
                    <li style="width: 16.6667%"><b></b><a class="more">更多</a></li>
                </ul>
            </div>
        </div>

<div class="content-wrapper">
    <div class="news-list-container">

    </div>
</div>

</div>
    </div>
<script type="text/javascript" src="./js/shownews.js"></script>
</body>
</html>